[submodule "RetroPLC.Icons/Win98SE"]
	path = RetroPLC.Icons/Win98SE
	url = https://github.com/nestoris/Win98SE.git
[submodule "external/STruCpp"]
	path = external/STruCpp
	url = https://github.com/Autonomy-Logic/STruCpp.git
